.hero-cta:hover:after {
  content: "";
  width: 20rem;
  height: 5.5rem;
  border: 1px solid rgba(255, 255, 255);
  position: absolute;
  top: -0px;
  left: 0px;
  transition: all 0.4s;
}

.about-section {
  background-image: url("../src/images/who-we-are/background.jpg");
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.section-title {
  @apply text-base text-muted-foreground font-semibold;
}
